.header{
    background-color: rgb(3, 3, 3);
    height: 150px;
}
.banner{
     background-color: rgb(45, 16, 212);
     height: 250px;
}
.form{
background-color: rgb(20, 181, 255);
height: 600px;
width: 33%;
float: left;
}
.image{
    background-color: rgb(20, 181, 255);
    height: 600px;
    width: 33%;
    float: left;
}
.text{
    background-color: rgb(20, 181, 255);
    height: 600px;
    width: 34%;
    float: left;
}
.footer{
    background-color: rgb(45, 16, 212);
    height: 100px;
    clear: both;
}
img{
    width: 100%;
}
.text{
    font-size: xx-large;
}
h1{
    text-align: center;
}